.tableBody {
  tr,
  td {
    padding: 16px 8px;
    font-size: 1.1em;
  }
  tr {
    transition: 0.4s ease;
    border-radius: 10px;

    &:hover {
      background: #b7ecba;
      color: black;
    }
  }
}

.bodyRow {
  td:first-child {
    width: 60%;
  }
}
