.tableWrapper {
  max-width: 80%;
  margin: 50px auto;
  background: #293343;
  border-radius: 40px;
  padding: 2vw;
}
.main {
  width: 100%;
  border-collapse: collapse;
  color: white;
  font-family: "Wix Madefor Display";
}
