.tableWrapper {
  max-width: 80%;
  margin: 50px auto;
  background: #2d3748;
  border-radius: 40px;
  padding: 2vw 2vw 1vw 2vw;
}

.main {
  width: 100%;
  border-collapse: collapse;
  color: white;
  font-family: "Wix Madefor Display";
  table-layout: fixed;

  thead th {
    position: sticky;
    top: 0;
    background-color: #2d3748;
    z-index: 1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  th:first-child {
    border-top-left-radius: 15px;
  }
  th:last-child {
    border-top-right-radius: 15px;
  }
}

@media (max-width: 500px) {
  .tableWrapper {
    max-width: 100%;
  }
}
